{% extends "profile/layout_profile.html" %}
{% block title %}EDITAR EXPERIENCIA LABORAL{% endblock %}
{% block content %}
<div class="box-ver">
  <div class="grid-int">
    <div class="box-update m-1 p-1">
      <h1 style="font-size: 35px;">{{ experience.company }} </h1>
      <h2 style="font-size: 25px;">{{ experience.possition }}</h2>
      <p class="article-content" style="margin-bottom: 2px;"> Área de Servicio: {{ experience.area_e }} </p>
      <p class="article-content" style="margin-bottom: 2px;"> Fecha de Inicio: {{ experience.start_date_e.strftime('%d/%m/%Y') }} </p>
      <p class="article-content" style="margin-bottom: 2px;"> Fecha de Fin: {{ experience.end_date_e.strftime('%d/%m/%Y') }} </p>
      <p class="article-content" style="margin-bottom: 2px;"> Tiempo de Servicio: {{ experience.time_e }} </p>
    </div>
    <div class="edit-form justify-content-center mb-3">
      <a class="btn btn-primary" href="#form_uexperience" data-bs-toggle="modal" data-bs-target=".bd-uexp-modal-lg">UPDATE</a>
    </div>
    <div class="delete-form justify-content-center mb-3">
      <form action="{{ url_for('delete_experience', experience_id=experience.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <input class="btn btn-danger" type="submit" value="DELETE">
      </form>
    </div>
  </div>  
</div>
<!-- MODAL EDIT -->
<div class="modal fade bd-uexp-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>EDITAR EXPERIENCIA LABORAL: </b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="">
          <div class="">
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
              <div class="label-form">
                  {{ form.company.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.company.errors %}
                      {{ form.company(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.company.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.company(class="input") }}
                  {% endif %}
              </div>
              <div class="label-form">
                  {{ form.area_e.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.area_e.errors %}
                      {{ form.area_e(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.area_e.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.area_e(class="input") }}
                  {% endif %}
              </div>
              <div class="label-form">
                  {{ form.possition.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.possition.errors %}
                      {{ form.possition(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.possition.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.possition(class="input") }}
                  {% endif %}
              </div>
              <div class="label-form">
                  {{ form.start_date_e.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.start_date_e.errors %}
                      {{ form.start_date_e(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.start_date_e.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.start_date_e(class="input") }}
                  {% endif %}
              </div>
              <div class="label-form">
                  {{ form.end_date_e.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.end_date_e.errors %}
                      {{ form.end_date_e(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.end_date_e.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.end_date_e(class="input") }}
                  {% endif %}
              </div>
              <div class="label-form">
                  {{ form.time_e.label(class="message-text") }}
              </div>
              <div class="input-form">
                  {% if form.time_e.errors %}
                      {{ form.time_e(class="message-error") }}
                      <div class="invalid-feedback">
                          {% for error in form.time_e.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.time_e(class="input") }}
                  {% endif %}
              </div>
              <div class="submit-form">
                  {{ form.submit(class="submit") }}
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!---------------->
{% endblock %}