{% extends 'profile/layout_profile.html' %}
{% block head %}
    {% block title %}ABOUT US{% endblock %}
{% endblock %}
{% block content %}

<section class="about-us-p">
    <div class="grid">
        <div class="img-abus">
            <h1 class="title-about-us-p">¿QUIÉNES SOMOS?</h1>
        </div>
        <div class="text-about-us-p">
            <p class="parra1">Somos un grupo de estudiantes y egresados de la carrera de minas de la UCE, dónde la iniciativa de realizar este proyecto se origina con la necesidad de establecer un entorno en dónde sea posible conocer a través de los perfiles, cualidades, capacidades y habilidades con el objetivo principal de crear un espacio que permita a los estudiantes y nuevos profesionales adentrarse en el campo laboral. </p>
            <p class="parra2">Como estudiantes aprobamos cursos y obtenemos certificaciones en distintas especialidades, pero no podemos ser visibles mientras no culminamos con éxito la carrera, una vez siendo profesionales entramos en la incertidumbre de cuáles son las necesidades de las empresas para ser futuros prospectos. </p>
            <p class="parra3">Para ello ofrecemos una plataforma que permita tener un acercamiento tanto a la empresa, como los postulantes, de acuerdo a los perfiles que se requieran.</p>
        </div>
    </div>
</section>
<section class="profiles-us">
    <div class="grid">
        <div class="text-profiles-us">
            <h1 class="title-profiles-us">NUESTRO EQUIPO</h1>
        </div>
        <div class="profs">
            <div class="prof">
                
                <img src="/static/img/web/asas.png"class=img_ab>
                <h3 class="name">Nicolás Silva</h3>
                <p class="text-prof">Estudiante noveno semestre Ingeniería de Minas</p>
            </div>
            <div class="prof">
                <img src="/static/img/web/Valeria d.jpeg"class=img_ab>
                <h3 class="name">Valeria Ulcuango</h3>
                <p class="text-prof">Estudiante noveno semestre Ingeniería de Minas</p>
            </div>
            <div class="prof">
                <img src="/static/img/web/Luchito d.jpeg"class=img_ab>
                <h3 class="name">Luis Pérez</h3>
                <p class="text-prof">Egresado Ingeniería de Minas</p>
            </div>
            <div class="prof">
                <img src="/static/img/web/JOSE BENJAMIN SALTOS MANCHENO.jpg"class=img_ab>
                <h3 class="name">Benjamín Saltos</h3>
                <p class="text-prof">Egresado Ingeniería de Minas</p>
            </div>
            <div class="prof">
                <img src="/static/img/web/juan.jpeg"class=img_ab>
                <h3 class="name">Juan Núñez</h3>
                <p class="text-prof">Egresado Ingeniería de Minas</p>
            </div>
        </div>
    </div>
</section>
<footer class="footer-p">
    <div class="grid">
        <div class="text-footer">
            <h2 class="title-footer">FOLlOW US</h2>
        </div>
        <div class="icon1">
            <a href=""><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="icon2">
            <a href=""><i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="icon3">
            <a href="https://www.instagram.com/ucemining/"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="icon4">
            <a href=""><i class="fab fa-youtube-square"></i></a>
        </div>
    </div>
</footer>
{% endblock %}