{% extends "registro/auth-layout.html" %} {% block content %}


{% from "macro.html" import render_field %}


<main class="forgot-pass">
	<section class="login p-fixed d-flex text-center" style="position: relative;">
		<!-- Container-fluid starts -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<!-- Authentication card start -->
					<div class="signup-card card-block auth-body me-auto ms-auto">
						<form class="md-float-material" method="POST" action="{{ url_for('forgotpass') }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
							
							<div class="auth-box">
								<div class="row m-b-20">
									<div class="col-md-12">
										<h3 class="text-center txt-primary">SOLICITUD DE REESTABLECIMIENTO DE LA CONTRASEÑA</h3>
									</div>
								</div>
								<hr />								  
								<div class="input-group">
								  {{ form.username(class="form-control", placeholder="Ingrese su cedula registrada", style="height: 45px;") }}
								  <span class="md-line"></span>
							  </div>
							  {% for error in form.username.errors%}
							  <div class="alert alert-warning" role="alert">
								  <label class="errors" style="color: white; font-family: sans-serif; height: 50px;"> {{ error }}</label>
							  </div>
							  {% endfor %}

								<div class="row m-t-30">
									<div class="col-md-12">
					  
									  {{ form.submit (class="btn btn-outline-info") }}
									  <br>
									  <br>
									  
									  <a href="{{ url_for('login') }}" class="linkformm">¿Ya estás registrado? <strong>Inicia sesión</strong></a>
									  <br>
									  <a href="{{ url_for('register') }}" class="linkformm">¿No tienes una cuenta aún? <strong>Regístrate</strong></a>
									  <div class="clear"></div>
									  </div>
								</div>
								<hr />
								
							</div>
						</form>
						<!-- end of form -->
					</div>
					<!-- Authentication card end -->
				</div>
				<!-- end of col-sm-12 -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of container-fluid -->
	</section>
</main>

{% endblock %}